
.hl-cyan{
	color:#000 !important;
	background-color:#00bcd4;
}
body{
	color:white;
	
	background-color: #000;
	
}

.font-srisakdi{
	font-family: "srisakdi";
}
#title{
	color: red;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}
.nav{
	position: -webkit-sticky;
	position:sticky;
	top: 0;
	margin-bottom: 10px;
	border: 1px solid white;
	
}
.hl-dropdown-hover{
	
	display: inline-block;
}
.hl-dropdown-content{
	display: none;
	position: absolute;
	border:1px solid white;
	box-shadow: 10px 10px 2px chartreuse;
	z-index: 1;
	
}
.hl-dropdown-btn{
	display: block;
	padding: 12px 16px;
	cursor: pointer;
}
.hl-dropdown-hover:hover .hl-dropdown-content{
	display: block;
	
	
}
.hl-dropdown-btn:hover{
	background-color:aqua;
}
.hl-dropdown-content a{
	text-align:center;
	background-color:green;
}
ul{
	
	list-style-type: none;	
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color:gray;
	overflow: hidden;
	
}
li{
	float: left;
	display: block;
	background-color: rgb(168, 49, 49);
}
li a{
	text-decoration: none;
	display: block;
	padding:14px 16px;
}
ul li{
	border-right: 1px solid black ;
}
ul li:last-child{
	border-right: none;
}
.active{
	background-color:green;
}
li a:hover:not(.ative){
	background-color: #000;
}

.brainy-quoute blockquote{

}
blockquote > q{
	display: block;
	text-align:center;
}
blockquote footer cite{
	display:block;
	text-align:center;
}
cite::before{
	content:"-";
}


.article{
	width:100%;
	margin-top : 3em;
}
.all-detail-profile{
	width: 100%;
	display: flex;
	flex-direction: column;
	background:darkblue;
	flex-wrap: wrap;
	border-radius: 5%;

}
.all-detail-profile > .profile{
	padding-top: 1em;
	justify-content: center;
	margin: 30px;
	background:black;
	box-shadow: 2px 2px 5px grey;

}
.picture-thumnail{
	width: 85px;
	height: 65pxpx;
	border-radius: 50%;
}

.profile .profile-name{
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	color:green;
	text-shadow:3px 3px 5px red;
}
.container-name{
	display: flex;
	flex-direction: row;
}

.like,.comment,.share{
	display: flex;
	flex-direction: column;
}
.comment,.share{
	margin-left: 10px;
}
footer div {
	text-align: center;
}
.link-profile a{
	text-decoration:none;
}
.link-profile a img{
	background:white;
	width: 50px;
	height:50px;

}
		